<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<div class="courses" #container *ngIf="courses[0] as course">

  <ng-template #blankImage let-courseDescription="description">
    <p class="warn">{{courseDescription}} has no image yet.</p>
    <img src="assets/empty-image.png" alt="No image.">
  </ng-template>

    <course-card (coursesSelected)="OnCourseSelected($event)" [course]="course" [noImageTpl]="blankImage">

        <course-image [imageUrl]="course.iconUrl"></course-image>

        <div class="course-description">
            {{course.longDescription}}
        </div>
    </course-card>

</div>


